<a href="#">
    <div class="produtos-info-box">
      <span class="produtos-info-box-icon"><img [src]="jogo.imagePath" alt="csgo"></span>
        
      <div class="produtos-info-box-content">
        <span class="produtos-info-box-text">Nome: {{jogo.nome}}</span>
        <span class="produtos-info-box-detail">Categoria do jogo: {{jogo.categoria}}</span>
        <span class="produtos-info-box-detail">Plataforma: R$ {{jogo.plataforma}}</span>
        <span class="produtos-info-box-detail">Preço: R$ {{jogo.preco}}</span>
      </div>
    </div>
  </a>
  