<a href="#">
  <div class="produtos-info-box">
    <span class="produtos-info-box-icon"><img [src]="tablet.imagePath" alt="tablet"></span>
      
    <div class="produtos-info-box-content">
      <span class="produtos-info-box-text">Nome: {{tablet.nome}}</span>
      <span class="produtos-info-box-detail">Categoria do produto: {{tablet.marca}}</span>
      <span class="produtos-info-box-detail">Preço em promoção: R$ {{tablet.descricao}}</span>
      <span class="produtos-info-box-detail">Preço em promoção: R$ {{tablet.preco}}</span>
    </div>
  </div>
</a>
