<a href="#">
  <div class="place-info-box">
    <span class="produtos-info-box-icon"><img [src]="computador.imagePath" alt="computador"></span>
      
    <div class="produtos-info-box-content">
      <span class="produtos-info-box-text">Nome: {{computador.nome}}</span>
      <span class="produtos-info-box-detail">Categoria do produto: {{computador.marca}}</span>
      <span class="produtos-info-box-detail">Preço: R$ {{computador.preco}}</span>
      <span class="produtos-info-box-detail">Informação: {{computador.informacao}}</span>
    </div>
  </div>
</a>
